body{
  margin:0;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
*{
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  width: 420px;
  margin-right:auto;
  margin-left: auto;
  margin-top: 100px;
}
.calculator{
  padding:15px;
  box-shadow: 0 0 15px #000;
  border:2px solid rgb(166, 114,114);
  border-radius: 8px;
}

#inputBox{
  background-color: transparent;
  border:none;
  outline: none;
  width: 100%;
  height: 70px;
  display: block;
  color:white;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}
button{
  width: 70px;
  height: 70px;
  margin:10px;
  background-color: transparent;
  color:white;
  font-size: 25px;
  font-weight: 500;
  border: 0;
  border-radius: 17%;
  box-shadow: -10px -10px 15px #000;
  cursor: pointer;
}
button:active{
  background-color: #000;
  transform: translate(2px ,2px);
  cursor: pointer;
}
.opr{
  color:#fbff00;
  background: translate(2px,2px);
  font-size: 700;
}
#egbtn{
  color:red
}